[workspace]
members = [
  "packages/testing",
  "packages/utils",
]

[workspace.package]
description = "Starkware Starknet contracts utils"
edition = "2024_07"
keywords = [
  "starkware",
  "starknet",
  "utils",
]
license-file = "LICENSE"
repository = "https://github.com/starkware-libs/starkware-starknet-utils"
version = "1.0.0"

[workspace.dependencies]
assert_macros = "2.12.2"
openzeppelin = "2.0.0"
snforge_std = "0.54.1"
starknet = "2.12.2"

[workspace.tool.fmt]
sort-module-level-items = true

[workspace.tool.scarb]
allow-prebuilt-plugins = ["snforge_std"]

[profile.dev.cairo]
inlining-strategy = "avoid"
panic-backtrace = true
unstable-add-statements-code-locations-debug-info = true
unstable-add-statements-functions-debug-info = true
