[workspace]
members = [
    "packages/testing",
    "packages/utils",
]

[workspace.package]
version = "1.0.0"
edition = "2024_07"
description = "Starkware Starknet contracts utils"
repository = "https://github.com/starkware-libs/starkware-starknet-utils"
license-file = "LICENSE"
keywords = [
    "starkware",
    "starknet",
    "utils"
]


[workspace.dependencies]
starknet = "2.12.0"
openzeppelin = "2.0.0"
# snforge_std = "0.48.0"
snforge_std = { version = "0.49.0+nightly-2025-09-17", registry = "https://scarbs.dev/" }
assert_macros = "2.12.0"


[workspace.tool.fmt]
sort-module-level-items = true

[workspace.tool.scarb]
allow-prebuilt-plugins = ["snforge_std"]

[profile.dev.cairo]
unstable-add-statements-functions-debug-info = true
unstable-add-statements-code-locations-debug-info = true
inlining-strategy = "avoid"
